h1 {
    width: 65px;
    color: orange;
    font-family: sans-serif;
}
#lista {
    background-color: goldenrod;
}
.fundo {
    background-color: aquamarine;
}
p {
  font-weight: 600;
  font-size: 3em;
}
body {
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
  text-align: justify;
  text-decoration: solid;
}
#Amarelo {
  background-color: yellow;
}
#Vermelho {
  background-color: red;
}
#Marrom {
  background-color: brown;
}